[Desktop Entry]
Name=Prime World Editor
GenericName=Game Data Editor
Comment=Edit world assets from games by Retro Studios
Exec=env QT_QPA_PLATFORM=xcb PrimeWorldEditor
Icon=PrimeWorldEditor
Terminal=false
Type=Application
Categories=Development;
