# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.pdb
*.ilk

# Qt-es
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator
*.autosave
CMakeLists.txt.user

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

#Dew
.dew/*

# PrimeWorldEditor files
bin/*
bin-debug/*
build/*
