<?xml version="1.0" encoding="UTF-8"?>
<ScriptObject ArchiveVer="4" Game="Echoes">
    <Properties Type="Struct">
        <Name>TweakAutoMapper</Name>
        <SubProperties>
            <Element Type="String" ID="0x7FDA1466"/>
            <Element Type="Struct" ID="0x18B2F423" Archetype="TweakAutoMapper_Base"/>
            <Element Type="Struct" ID="0xC5368863" Archetype="TweakAutoMapper_DoorColors"/>
        </SubProperties>
    </Properties>
</ScriptObject>
