<?xml version="1.0" encoding="UTF-8"?>
<PropertyTemplate ArchiveVer="4" Game="Corruption">
    <PropertyArchetype Type="Struct">
        <Name>SpringConvergence</Name>
        <SubProperties>
            <Element Type="Bool" ID="0x6FA2F8BC">
                <DefaultValue>true</DefaultValue>
            </Element>
            <Element Type="Float" ID="0xB3823863">
                <DefaultValue>10.0</DefaultValue>
            </Element>
            <Element Type="Float" ID="0xB122A18D">
                <DefaultValue>0.0</DefaultValue>
            </Element>
            <Element Type="Float" ID="0x8E1B83F9">
                <DefaultValue>0.0099999998</DefaultValue>
            </Element>
            <Element Type="Float" ID="0xACB1CDCB">
                <DefaultValue>10.0</DefaultValue>
            </Element>
            <Element Type="Float" ID="0x74D11538">
                <DefaultValue>1.0</DefaultValue>
            </Element>
        </SubProperties>
    </PropertyArchetype>
</PropertyTemplate>
